/* variables de colores base */
:root {
  --white: #fffefc;
  --black: #040406;
  /* azul unam */
  --azul-unam-d2: #001e3b;
  --azul-unam-d1: #002f5d;
  --azul-unam: #003d79;
  --azul-unam-l1: #004c96;
  --azul-unam-l2: #0166c8;
  /* dorado unam */
  --gold-unam-d2: #856100;
  --gold-unam-d1: #ad7e02;
  --gold-unam: #d59f0f;
  --gold-unam-l1: #efbd37;
  --gold-unam-l2: #ffd564;
}

/* Estilos generales */
* {
  font-family: "Gabarito", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alt-font {
  font-family: "Josefin Slab", serif;
  font-weight: 900;
}

body {
  background-color: var(--black);
  overflow-x: hidden; /* Asegura que no haya scrollbars */
}

header {
  background-color: var(--azul-unam);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  border-bottom: 2px solid var(--gold-unam);
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}

.header-btns {
  display: flex;
  gap: 20px;
}

.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 3.5rem;
}

header .btn {
  background-color: var(--azul-unam-d1);
  color: var(--white);
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.5rem;
  &:hover {
    background-color: var(--azul-unam-d2);
    transition: background-color 0.3s ease;
  }
}

.logo a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: var(--white);
  &:hover {
    color: var(--gold-unam);
    transition: color 0.3s ease;
  }
}

.logo img {
  width: 60px;
}

.user-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  color: var(--white);
}

#regis {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--gold-unam);
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.5rem;
  &:hover {
    background-color: var(--gold-unam-d1);
    color: var(--black);
    border: 2px solid var(--gold-unam-d1);
    transition: all 0.3s ease;
  }
}

#login {
  background-color: var(--gold-unam);
  color: var(--black);
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.5rem;
  &:hover {
    background-color: var(--gold-unam-d1);
    transition: background-color 0.3s ease;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
  min-height: calc(100vh - 80px);
  background: linear-gradient(
    75deg,
    hsl(209deg 100% 12%) 0%,
    hsl(210deg 100% 14%) 18%,
    hsl(210deg 100% 16%) 26%,
    hsl(210deg 100% 18%) 33%,
    hsl(210deg 100% 20%) 39%,
    hsl(210deg 100% 22%) 44%,
    hsl(210deg 100% 24%) 50%,
    hsl(210deg 100% 26%) 56%,
    hsl(210deg 100% 29%) 61%,
    hsl(210deg 100% 32%) 67%,
    hsl(210deg 99% 34%) 74%,
    hsl(210deg 99% 37%) 82%,
    hsl(210deg 99% 39%) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main#usuarios {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

main#homepage {
  padding: 0;
}

main#log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

main#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.practica-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  padding: 20px;
  background-color: var(--white);
  border-radius: 20px;
}

.practica-content ul,
.practica-content ol {
  padding-left: 2%;
}

.practica-title {
  font-size: 2.5em;
  align-self: center;
}

main#ver-practica span {
  font-weight: bolder;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  padding-top: 25px;
  font-size: 1.2rem;
  background-color: var(--white);
  border-radius: 20px;
}

#log-in #form-container {
  width: 30%;
}

#register #form-container {
  width: 30%;
}

#usuarios #form-container {
  width: 100%;
  height: fit-content;
}

#practica-gen-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  padding: 20px;
}

#usuario-gen-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 25px;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 25px;
}

.form-btn {
  grid-column: 1 / -1;
  font-size: 1.2em;
  padding: 20px 0;
  background-color: var(--gold-unam);
  color: var(--black);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.5em;
  &:hover {
    background-color: var(--gold-unam-d1);
    transition: background-color 0.3s ease;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.form-input {
  font-size: 1.1em;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid var(--azul-unam-d1);
}

.passwd-container {
  position: relative;
  display: flex;
  align-items: center;
}

.passwd-container .form-input {
  width: 100%;
  padding-right: 40px; /* Space for the toggle button */
}

/* Password Toggle Button */
.toggle-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

/* Forgot Password Link */
.password-options {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.forgot-password {
  font-size: 14px;
  color: var(--azul-unam-l2);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.titulo {
  font-size: 38px;
  width: fit-content;
  margin: 2.5rem auto;
  padding: 15px;
}

/* Tablas */
#table-container {
  width: 90%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  padding: 25px 0;
  font-size: 1.2rem;
}

#usuarios #table-container {
  width: 100%;
  grid-column: 2;
  grid-row: 1 / -1;
}

h2.alt-font {
  font-size: 1.8em;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
  box-shadow: 0 0 10px var(--black);
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--azul-unam-d2);
}

th {
  background-color: var(--azul-unam-d2);
  color: var(--white);
}

tr:nth-child(even) {
  background-color: var(--white);
}

tr:hover {
  background-color: var(--gold-unam-l2);
  transition: background-color 0.3s ease;
}

#table-reg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#eliminar-reg-btn {
  width: 100%;
  padding: 10px 0;
  background-color: #a90000;
  color: var(--white);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    background-color: #860000;
    transition: background-color 0.3s ease;
  }
}

.hero {
  background-image: url(./img/fondo_improvisado5.jpeg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.info_inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #040406cc;
  width: 60%;
  padding: 40px;
  font-size: 1.5rem;
}

.info_inicio button {
  background-color: var(--gold-unam);
  color: var(--black);
  border: none;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.5em;
  &:hover {
    background-color: var(--gold-unam-d1);
    transition: background-color 0.3s ease;
  }
}

#container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 50px;
  justify-items: center;
  width: 90%;
  padding: 50px;
  font-size: 1.5rem;
}

.title-cards {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.8em;
  color: var(--white);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 12px;
  font-size: 1.1rem;
  background: var(--white);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.card h1 {
  font-size: 1.7em;
}

.card p {
  font-size: 1em;
  color: var(--black);
}

.card .btn {
  background-color: var(--gold-unam);
  color: var(--black);
  text-decoration: none;
  border: none;
  padding: 15px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5em;
  &:hover {
    background-color: var(--gold-unam-d1);
    transition: background-color 0.3s ease;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--azul-unam);
    width: 100%;
    padding: 20px;
    z-index: 100;
  }

  .hero {
    padding: 5%;
  }

  .info_inicio {
    width: 90%;
    font-size: 1.3rem;
  }

  #container-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .card img {
    height: 200px;
  }

  #practica-gen-form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 440px) {
  .menu.active {
    padding: 20px 0;
  }
  .header-btns {
    flex-direction: column;
    gap: 10px;
  }

  .user-menu {
    flex-direction: column;
  }
}
