<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prácticas</title>
    <link rel="icon" href="{{ url_for('static', filename='img/Escudo-UNAM-white.svg') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Josefin+Slab:wght@100..700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="{{ url_for('static', filename='img/Escudo-UNAM-white.svg') }}" alt="Logo UNAM" />
          <h1 class="alt-font">IntelliTutor UNAM</h1>
        </a>
      </div>

      <div class="menu">
        <div class="header-btns">
          <a href="{{ url_for('index') }}" class="btn alt-font">Inicio</a>
          <a href="{{ url_for('practicas') }}" class="btn alt-font">Prácticas</a>
          <a href="{{ url_for('evaluacion') }}" class="btn alt-font">Evaluación</a>
        </div>
        <div class="user-menu">
          <a href="/regis" id="regis" class="btn alt-font">Registrarse</a>
          <a href="/login" id="login" class="btn alt-font">Iniciar sesión</a>
        </div>
      </div>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main id="practicas">
      <!-- Formulario -->
      <div id="form-container">
        <h2 class="alt-font">Agregar Práctica</h2>
        <form action="{{ url_for('practicas') }}" method="POST" id="practica-gen-form">
          <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" class="form-input" required />
          </div>

          <div class="form-group">
            <label for="materia_id">Materia:</label>
            <select id="materia_id" name="materia_id" class="form-input" required>
              {% for materia in materias %}
              <option value="{{ materia.id }}">{{ materia.nombre }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="nivel_id">Nivel:</label>
            <select id="nivel_id" name="nivel_id" class="form-input" required>
              {% for nivel in niveles %}
              <option value="{{ nivel.id }}">{{ nivel.nombre }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="autor_id">Autor:</label>
            <select id="autor_id" name="autor_id" class="form-input" required>
              {% for autorizado in autorizados %}
              <option value="{{ autorizado.id }}">{{ autorizado.nombre }} - {{ autorizado.rol }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="objetivo">Objetivo:</label>
            <textarea id="objetivo" name="objetivo" class="form-input" required></textarea>
          </div>

          <div class="form-group">
            <label for="fecha_entrega">Fecha de Entrega:</label>
            <input type="date" id="fecha_entrega" name="fecha_entrega" class="form-input" required />
          </div>

          <div class="form-group">
            <label for="tiempo_estimado">Tiempo Estimado (horas):</label>
            <input type="number" id="tiempo_estimado" name="tiempo_estimado" class="form-input" required />
          </div>

          <div class="form-group">
            <label for="concepto_id">Concepto:</label>
            <select id="concepto_id" name="concepto_id" class="form-input" required>
              {% for concepto in conceptos %}
              <option value="{{ concepto.id }}">{{ concepto.nombre }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="herramienta_id">Herramienta:</label>
            <select id="herramienta_id" name="herramienta_id" class="form-input" required>
              {% for herramienta in herramientas %}
              <option value="{{ herramienta.id }}">{{ herramienta.nombre }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit" class="form-btn alt-font">Agregar</button>
        </form>
      </div>

      <!-- Table -->
      <div id="table-container">
        <h2 class="alt-font">Lista de Prácticas</h2>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Título</th>
              <th>Materia</th>
              <th>Fecha de Entrega</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for practica in practicas %}
            <tr>
              <td>{{ practica.id }}</td>
              <td>
                <a href="{{ url_for('ver_practica', practica_id=practica.id) }}">{{ practica.titulo }}</a>
              </td>
              <td>{{ practica.nombre_materia }}</td>
              <td>{{ practica.fecha_entrega.strftime('%Y-%m-%d') }}</td>
              <td>{{ practica.estado }}</td>
              <td>
                <form
                  action="{{ url_for('eliminar_practica', practica_id=practica.id) }}"
                  method="POST"
                  id="table-reg-form">
                  <button type="submit" id="eliminar-reg-btn">Eliminar</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
