<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Usuarios</title>
    <link rel="icon" href="{{ url_for('static', filename='img/Escudo-UNAM-white.svg') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Josefin+Slab:wght@100..700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="{{ url_for('static', filename='img/Escudo-UNAM-white.svg') }}" alt="Logo UNAM" />
          <h1 class="alt-font">IntelliTutor UNAM</h1>
        </a>
      </div>

      <div class="menu">
        <div class="header-btns">
          <a href="{{ url_for('index') }}" class="btn alt-font">Inicio</a>
          <a href="{{ url_for('practicas') }}" class="btn alt-font">Prácticas</a>
          <a href="{{ url_for('gestionar_solicitudes') }}" class="btn alt-font">Solicitudes</a>
        </div>
        <div class="user-menu">
          <a href="{{ url_for('logout') }}" class="btn alt-font">Cerrar sesión</a>
        </div>
      </div>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main id="usuarios">
      <!-- Formulario -->
      <div id="form-container">
        <h2>Agregar Usuario</h2>
        <form action="{{ url_for('usuarios') }}" method="POST" id="usuario-gen-form">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-input" required />
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-input" required />
          </div>

          <div class="form-group">
            <label for="rol">Rol:</label>
            <select id="rol" name="rol" class="form-input" required>
              <option value="estudiante">Estudiante</option>
              <option value="profesor">Profesor</option>
            </select>
          </div>

          <button type="submit" id="form-btn" class="alt-font">Agregar Usuario</button>
        </form>
      </div>

      <div id="table-container">
        <h2>Lista de Usuarios</h2>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Rol</th>
            </tr>
          </thead>
          <tbody>
            {% for usuario in usuarios %}
            <tr>
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.nombre }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.rol }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
  </body>
</html>
